<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" media="screen" href="{{ stylesheet }}" />
</head>
<body>
	<header>
		<h1>{{ page-title }}</h1>
		{{ template: menu }}
	</header>
	<div id="content" class="row">
		<div id="side-bar-left" class="col-3">{{ menu }}</div>
		<div id="side-bar-right" class="col-9">{{ content }}</div>
	</div>
	<script src="{{ script }}"></script>
</body>
</html>