<page_spacer>
<div class="page-spacer"></div>
</page_spacer>

<!-- page logo -->
<main_logo>
<div class="logo">
	<a href="{{ link }}">
		<img src="{{ source }}" alt="{{ alt }}" />
	</a>
</div>
</main_logo>

<!-- main searchbar -->
<searchbar>
<div class="searchbar justify-self">
	<form class="flex" action="{{ conren_route_search }}" method="{{ method }}" target="{{ target }}">
		<input class="fullw" type="text" placeholder="Produkt finden .."/>
		<button class="btn-2 icon">
			<i class="fas fa-search"></i>
		</button>
	</form>
</div>
</searchbar>

<!-- image slider -->
<conren_slider>
<div {{ case: slider-id }}id="{{ slider-id }}"{{ case end: slider-id }} class="slider-wrap container" data-slider="{{ slider-id }}">
	<div class="slider-inner-wrap">
		<ul class="slider">
			{{ foreach: images }}
			<li class="slider-item slider-item-{{ tx-index }}"><img src="{{ source }}" alt="{{ alt }}" /></li>
			{{ /foreach: images }}
		</ul>
	</div>
</div>
</conren_slider>

<!-- simple element listing -->
<conren_element_listing>
<ul class="conren-listing {{ listing-id }}">
	{{ foreach: list-items }}
	<li class="conren-list-item {{ listing-id }}-{{ tx-index }}">
		{{ templateSelect: template }}
	</li>
	{{ /foreach: list-items }}
</ul>
</conren_element_listing>

<!-- link -->
<conren_link>
<a class="conren-link {{ link-id }}" href="{{ href }}" target="{{ target }}">{{ label }}</a>
</conren_link>

<!-- product management -->
<conren_settings>
{{ if: is_admin }}
<div class="conren-settings">
	<ul class="menu">
		{{ foreach: menu-items }}
		<li class="menu-item settings-{{ link-type }}"><a class="btn more" href="{{ link }}">{{ label }}</a></li>
		{{ /foreach: menu-items }}
	</ul>
</div>
{{ /if: is_admin }}
</conren_settings>

<!-- footer -->
<conren_footer>
<ul class="footer-menu container-10-5 grid-gap grid grid-h justify-content">
	{{ foreach: links }}
	<li class="container-reset">
		<a class="link link-passive container-box container-5-10" href="{{ link }}">{{ label }}</a>
	</li>
	{{ /foreach: links }}
</ul>
</conren_footer>

<conren_panel>
{{ if: conren_user_is_super }}
<div class="menu-panel">
	<ul class="flex flex-h menu">
		{{ foreach: menu }}
		<li class="list-item">
			<a href="{{ link }}">{{ title }}</a>
		</li>
		{{ /foreach: menu }}
	</ul>
</div>
{{ /if: conren_user_is_super }}
</conren_panel>