/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* fonts */
/*
@font-face {
    font-family: "Quicksand-l";
    src: url("../res/fonts/Quicksand-Light.otf");
}
*/
@charset "utf-8";

/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* reset */
html, body { margin: 0; padding: 0; top: 0; left: 0; height: 100%; position: relative; letter-spacing: 0.5px; background: transparent; }
html * { font: 16px "PT Sans"; color: #222;  }

ul, li { margin: 0; padding: 0; list-style-type: none; }
ul > li { width: 100%; padding-bottom: 0.5rem; }

a { text-decoration: none; }
a:visited { color: #222; }

h1 { font-size: 2.18rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.64rem; }
h4 { font-size: 1.43rem; }
h5 { font-size: 1.28rem; }
h6 { font-size: 1.18rem; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 0.6em 0; color: #000; font-weight: 400; box-sizing: border-box; }
h1 { width: 100%; text-align: center; }
span, label, p { margin: 0 0 1rem 0; font-size: 1rem; font-weight: 400; }
li > p { margin-bottom: 0; padding: 0.5rem 0; }

img { width: 100%; height: auto; }

[disabled] { pointer-events: none; filter: brightness(0.6); }

/* container */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-12, .col-12 { display: block; overflow: hidden; width: 100%; }
.col-1 { max-width: 8.33%; } .col-2 { max-width: 16.66%; } .col-3 { max-width: 25%; }
.col-4 { max-width: 33.33%; } .col-5 { max-width: 41.67%; } .col-6 { max-width: 50%; }
.col-7 { max-width: 58.33%; } .col-8 { max-width: 66.66%; } .col-9 { max-width: 75%; }
.col-10 { max-width: 83.33%; } .col-11 { max-width: 91.66%; } .col-12 { max-width: 100%; }

/* .row, .row-r, .row-clean, .row-full { margin: 0; width: 100%; box-sizing: border-box; overflow: hidden; }
.row > *, .row-r > *, .row-clean > *, .row-full > * { padding-right: 0.5rem; float: left; box-sizing: border-box; }
.row > *:last-child { padding-right: 0; }
.row-clean > * { padding: 0; }
.row-r > * { float: right; } */

.row { display: flex; }
.row-inline { display: inline-flex; margin-bottom: 5px; }
.row > * { flex: 1 }
.row-inline > * { margin: 0; }

/* .box { margin-bottom: 10px; } */
/* *:last-child { margin-bottom: 0; } */

.bd-form { margin-bottom: 30px; padding: 20px 0; color: #000; background: #fff; }
.bd-form h4, form p { margin-bottom: 0; }

input, select, button { padding: 5px 10px; max-width: 33%; width: 100%; border: none; border-bottom: 2px solid #333; font-size: 16px; background: #eee; }
input::placeholder { font-size: 12px; }
input[type="submit"] { min-width: 150px; background: #64d296; }
input[type="radio"] { position: relative; }
textarea { width: 100%; height: 80px; }

input:hover, select:hover, button:hover { cursor: pointer; }
input[type="submit"]:hover, button:hover { background: #54c185; }
input:focus, select:focus, button:focus, textarea:focus { outline: none; border-bottom-color: #64d296; }
textarea:focus { border-color: #64d296; }

.bd-formitem { margin-bottom: 20px; padding: 10px 20px; box-sizing: border-box; overflow: hidden; }
.bd-formitem * { box-sizing: border-box; }
.bd-formitem:last-child { margin-bottom: 0; }

/* horizontal item mode */
.bd-formitem.h { display: flex; }
.bd-formitem.h > * { flex: 1; }
.bd-formitem.h .bd-formfield-label { margin-right: 20px; }
.bd-formitem.h input, .bd-formitem.h select, .bd-formitem.h button { max-width: 100%; }

/* labels and content */
/* .bd-formitem .bd-formfield-label { margin-bottom: 5px; padding: 5px 20px; display: inline-block; background: #e0e0e0; border-bottom: 2px solid #c0c0c0; } */
.bd-formitem .bd-formfield-label { margin-bottom: 5px; padding: 5px 0; display: inline-block; }
.bd-formitem .field-description { font-size: 12px; color: #777; }
.title { margin: 0 -20px; padding: 5px 20px; font-size: 20px; background: #e0e0e0; border-bottom: 1px solid #999; }

/* capsulated fields */
.bd-formitem .item { margin: 0 0 5px 0; padding: 0; }
.bd-formitem .item > * { padding: 0; }
.bd-formitem .item .field-title { margin-bottom: 0; background: initial; border: none; }
.bd-formitem .item .field-title label { margin-bottom: 0; }

[required] { background: #ffdcdc; border-color: #be0000; }
input[type="hidden"] { display: nonde; }



.menu { margin-bottom: 10px; display: inline-flex; }
.menu-item { padding: 0 5px 0 0; overflow: visible; }
.menu-item.active a { background: #bbb; }
.menu-item a { padding: 5px 10px; display: block; text-decoration: none; background: #fff; }

/* no context buttons */
.button { padding: 5px 10px; display: inline-block; text-decoration: none; background: #82b3ff; border-bottom: 2px solid #333; }
a.button { width: initial; display: inline-block; }
.button.success { background: #7fc57f; }
.button.error { background: #b10e0e; }
.button:hover { border-color: #999; }

/* logging stuff */
.log { margin-bottom: 10px; padding: 10px 5px; color: #000; background: #ddd; }
.log:empty { display: none; }
.log.success { border-bottom: 2px solid #14c549; }
.log.error { background: #d88383; border-bottom: 2px solid #5e0909; }
.hide { display: none; }

/* manuals */
body { padding-top: 40px; background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ) fixed , url(../images/bg.jpeg); }

h1:empty { display: none; }
img { background: #fff; box-sizing: border-box; }

#header { margin: 0 auto 30px; max-width: 1300px; }
#content { margin: 0 auto; max-width: 1300px; }
#header img { margin-bottom: 10px; }

.bd-form-userlogin { margin: 0 auto; max-width: 300px; border: 1px solid #999; }
.bd-form-userlogin input { max-width: 100%; }

.list { margin: 0 auto; width: 100%; }
.list-item { margin-bottom: 5px; padding: 10px; box-sizing: border-box; }

/* container for wrappers etc. */
.container, .container-box, .box { padding: 10px; }
.container-box { background: #fff; }
.container-clean > *, .container-box > *, .container > * { margin-bottom: 10px; display: block; }
.container-clean > *:last-child, .container-box > *:last-child, .container > *:last-child { margin-bottom: 0; }

/* listing items in a row */
.listing { display: flex; flex-wrap: wrap; width: 100%; }
.listing > * { margin-bottom: 10px; padding-right: 10px; width: 25%; box-sizing: border-box; }
.listing > *:nth-child(4n+0) { padding-right: 0; }
.listing.c4 > * { width: 33.33%; }
.listing.c4 > *:nth-child(3n+0) { padding-right: 0; }
.listing.c6 > * { width: 50%; }
.listing.c6 > *:nth-child(2n+0) { padding-right: 0; }
.listing.c9 > * { width: 75%; }
.listing.c12 > * { width: 100%; }

.listing.sb { justify-content: space-between; }
.listing.sb > * { margin-bottom: 0; }
.listing.clean > * { margin-bottom: 0; }
.listing.i { display: inline-flex; }
.listing.i > * { padding-right: 10px; width: initial; }

.listing.small * { font-size: 12px; }

/* transitions */
.trans { transition: all ease-in-out 0.2s }

/* text */
.center { text-align: center; }
.standalone { padding: 5px 10px; display: inline-block; }


.logs-container { margin-bottom: 10px; }
.log-item { padding: 5px 10px; background: #eee; box-shadow: none; }
.log-item.error { background: #ffafaf; border-color: #b10e0e; }
.log-item.warning { background: #7dda7d; border-color: #308430; }
.log-item.info { background: #95cdff; border-color: #6aa9e2; }

.small-text, .small-text-link { font-size: 14px; color: #555; }
.small-text-link { text-decoration: underline; }


/* .category .image img { width: 250px; } */

.product-item .product-image { overflow: hidden; }
.product-item .actions .button { width: 100%; box-sizing: border-box; }
.product-item img { height: 300px; }
.product-item img:hover { transform: scale(1.1); }

.product-single-view .images { width: 35%; }
.product-single-view .product-info { width: 65%; }
.product-single-view .product-info > * { width: 100%; }

/* edit since this is shity css */
/* .product-single-view { display: flex; flex-wrap: wrap; } */
/* .product-single-view > * { padding-right: 20px; box-sizing: border-box; } */

/* .product-single-view .product-attribute { display: flex; flex-wrap: wrap; } */
/* .product-single-view .product-attribute > * { padding-right: 20px; } */

